<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ Панель</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- Навигационная панель -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Admin Panel</span>
        <span class="navbar-text text-light">
            admin@mail.ru с ролями: ADMIN USER
        </span>
        <a href="/logout" class="btn btn-outline-light">Выход</a>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <!-- Боковое меню -->
            <ul class="list-group">
                <a href="#admin-section" class="list-group-item list-group-item-action active">Админ</a>
                <a href="#user-section" class="list-group-item list-group-item-action">Пользователь</a>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- Админская секция -->
            <div id="admin-section">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#users-table" data-bs-toggle="tab">Таблица пользователей</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#new-user-form" data-bs-toggle="tab">Добавить пользователя</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content mt-3">
                            <!-- Таблица пользователей -->
                            <div class="tab-pane fade show active" id="users-table" role="tabpanel">
                                <h5 class="card-title">Список пользователей</h5>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Возраст</th>
                                        <th>Email</th>
                                        <th>Роль</th>
                                        <th>Редактировать</th>
                                        <th>Удалить</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userTableBody">
                                    <!-- Данные будут подгружены через JS -->
                                    </tbody>
                                </table>
                            </div>

                            <!-- Форма добавления нового пользователя -->
                            <div class="tab-pane fade" id="new-user-form" role="tabpanel">
                                <h5 class="card-title">Добавить нового пользователя</h5>
                                <form id="addUserForm" class="mt-3">
                                    <div class="mb-3">
                                        <label for="firstName" class="form-label">Имя</label>
                                        <input type="text" class="form-control" id="firstName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="lastName" class="form-label">Фамилия</label>
                                        <input type="text" class="form-control" id="lastName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="age" class="form-label">Возраст</label>
                                        <input type="number" class="form-control" id="age" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Пароль</label>
                                        <input type="password" class="form-control" id="password" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="role" class="form-label">Роль</label>
                                        <select class="form-select" id="role" required>
                                            <option value="ADMIN">ADMIN</option>
                                            <option value="USER">USER</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">Добавить нового пользователя</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Секция информации о пользователе -->
            <div id="user-section" class="mt-4">
                <div class="card">
                    <div class="card-header">
                        About user
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="userInfoTableBody">
                            <!-- Данные будут подгружены через JS -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальные окна -->
<!-- Модальное окно для редактирования пользователя -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <div class="mb-3">
                        <label for="editUserId" class="form-label">ID</label>
                        <input type="text" class="form-control" id="editUserId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editFirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="editFirstName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editAge" class="form-label">Age</label>
                        <input type="number" class="form-control" id="editAge" required>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="editPassword">
                    </div>
                    <div class="mb-3">
                        <label for="editRole" class="form-label">Role</label>
                        <select class="form-select" id="editRole" required>
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveUserChanges">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для удаления пользователя -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteUserForm">
                    <div class="mb-3">
                        <label for="deleteUserId" class="form-label">ID</label>
                        <input type="text" class="form-control" id="deleteUserId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteFirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="deleteFirstName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="deleteLastName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteAge" class="form-label">Age</label>
                        <input type="text" class="form-control" id="deleteAge" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="deleteEmail" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteRole" class="form-label">Role</label>
                        <select class="form-select" id="deleteRole" disabled>
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteUser">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>
</body>
</html>

